.content {
    font-size: $font-size-small;
    color: $text-color-1;

    @media (max-width: $desktop-breakpoint-phone) {
        font-size: $font-size-small;
    }

    @media (max-width: $desktop-breakpoint-sm-phone) {
        font-size: $font-size-small;
    }
}
.section-title {
    margin-bottom: 20px;
    margin-top: 40px;
    font-size: $font-size-large;
}
.about-wrapper {
    margin-top: -5px;
    background-color: $theme-color-1;
    overflow: hidden;
    min-height: 80vh;

    
}
.profile-image {
    width: 200px;
    height: auto;
    margin-bottom: 1rem;
    border-style:solid;
    border-color:white;
}
.diamond-img {
    max-width: 100%;
    margin-bottom: 2rem;
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
    transition: 1s;
}

.diamond-img:hover {
    -webkit-clip-path: polygon(50% 0, 100% 50%, 50% 100%, 0 50%);
    clip-path: polygon(50% 0, 100% 50%, 50% 100%, 0 50%);
    transform: scale(1.2);
}

.about-list {
    color: $theme-color-1;
    font-weight: lighter;
    font-size: $font-size-large;
}

.type-writer {
    
    padding: 10px;
}

