
.home-wrapper {
    min-height: 100vh;
    overflow: hidden;
  
    display: flex;
    align-items: center;
    justify-content: center;
    @media (min-width: $desktop-breakpoint-laptop) {
      display: block;
    }
}

.hello-message-1 {
    font-size: $font-size-xtitle;
    font-family: $font-title;
    font-weight: bolder;
    color: white;
    text-transform: uppercase;
    letter-spacing: 1px;
    text-align:center;
}

.hello-message-2 {
    font-size: $font-size-large;
    
    color: white;
    font-weight: lighter;
    position: relative;
    text-align: center;
}

.media-wrapper {
    display: none;
    @media (min-width: $desktop-breakpoint-phone) {
      display: initial;
      position: fixed;
      top: 25%;
      right: 30px;
    }
  
    i {
      margin-top: 2rem;
      color: $home-color-light;
      font-size: $font-size-xlarge;
      transition: all 0.5s ease;
      @media (max-width: $desktop-breakpoint-phone) {
        font-size: $font-size-xlarge;
      }
  
      &:hover {
        color: $home-color;
        transform: scale(1.2) translateX(-5px);
      }
    }
  }
.banner {
  position:absolute;
  left: 0%;
  width: 100vw;
  height: 100vh;
  z-index: 0;
}
.section {
    max-width:100%;
    position: relative;
    width: 100%;
    height: 100vh;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;

}

.section img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    pointer-events: none;
}

.section::before {
    content: '';
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 100px;
    background: linear-gradient(to top,black, transparent);
    z-index: 10;

    
}
.section::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: $back-ground-2;
    z-index: 10;
    //background: linear-gradient(to top,$theme-color-1, transparent);
    mix-blend-mode: color;

    
}
.text{
    position: relative;
    z-index: 2;
    text-shadow: 4px 4px 8px $home-color;
    
}

#road{
    z-index:3;


}




