
.home-wrapper {
    min-height: 100vh;
    overflow: hidden;
    
   
}

.hello-message-1 {
    font-size: $font-size-xlarge;
    font-weight: bolder;
    position: relative;
    
}

.hello-message-2 {
    font-size: $font-size-large;
    font-weight: lighter;
    position: relative;
   
}

.hello-message-3 {
    font-size: $font-size-large;
    font-weight: bolder;
    color: white;
    position: relative;
   
}

@media (max-width: $desktop-breakpoint-phone) {
    .hello-message-1 {
        font-size: $font-size-large;
        color: white;
        font-weight: bolder;
    }

    .hello-message-2 {
        font-size: $font-size-medium;
        color: white;
        font-weight: lighter;
    }

    .hello-message-3 {
        font-size: $font-size-medium;
        color: $home-color;
        font-weight: bolder;
    }


}
@media (max-width: $desktop-breakpoint-sm-phone) {
    .hello-message-1 {
        font-size: $font-size-medium;
        color: white;
        font-weight: bolder;
    }

    .hello-message-2 {
        font-size: $font-size-small;
        color: white;
        font-weight: lighter;
    }

    .hello-message-3 {
        font-size: $font-size-small;
        color: $home-color;
        font-weight: bolder;
    }
}

.media-wrapper {
    background-color: transparent;
    z-index: 11;
    position: absolute;
    top: 10%;
    left: 2%;


    @media (max-width: $desktop-breakpoint-phone) {
        top: 10%;
    }

    i {
        margin-top: 2rem;
        color: $home-color;
        font-size: $font-size-medium;
        transition: all 0.5s ease;

        @media (max-width: $desktop-breakpoint-phone) {
            font-size: $font-size-medium;

        }

        &:hover {
            color: white;
            transform: scale(1.25);

            @media (max-width: $desktop-breakpoint-phone) {
                color: white;
                transform: scale(1.25);
                
            }
        }
    }
}

.button-link {
    position: relative;
    top: 8rem;
    right: 13rem;
    outline: none !important;
    z-index: 11;
    border: none;
    font-size: $font-size-small;
    color: white;
    text-align: center;
    //width: 180px;
    background-color: #2a4698;
    //padding: 10px;    transition: 0.5s;
    border-radius: 2rem;


    @media screen and (max-width:$desktop-breakpoint-phone) {
        font-size: $font-size-xsmall;
        right: 8rem;
    }

    @media screen and (max-width:$desktop-breakpoint-sm-phone) {
        font-size: $font-size-xsmall;
        right: 2rem;
    }


    &:hover {
        background-color: white;
        color: #2a4698;
        cursor: pointer;

        .rotate-arrow {
            transform: rotate(90deg) !important;
            transition: 0.5s;
        }
    }
}
.section {
    position: relative;
    width: 100%;
    height: 100vh;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;

}

.section img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    pointer-events: none;
    
}

.section::before
{
    content:'';
    position: absolute;
    bottom: 0; 
    width: 100%;
    height: 100px;
    background: linear-gradient(to top,$theme-color-1, transparent);
    z-index: 10;
}
.section::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: $theme-color-1;
    z-index: 10;
    //background: linear-gradient(to top,$theme-color-1, transparent);
    mix-blend-mode: color;
}
.text{
    position: relative;
    z-index: 2;
    text-shadow: 4px 4px 8px #779d9d;
    
}

#road{
    z-index:3;


}



.link-2 {
    animation-name: appear;
    animation-duration: 1.5s;
    animation-iteration-count: 1;
}
/*
.hello-message-1 {
  width: 6em;
  -webkit-animation: blinktextcurser 0.5s steps(50) 2 normal,
    typewriter 0.5s steps(30) 0.5s 1 normal both;
  overflow: hidden;
  white-space: nowrap;
}
.hello-message-2 {
  width: 16em;
  -webkit-animation: blinktextcurser 0.5s steps(50) 2 1s normal,
    typewriter2 1s steps(30) 1s 1 normal both;
  overflow: hidden;
  white-space: nowrap;
}
.hello-message-3 {
  width: 12em;
  -webkit-animation: blinktextcurser 0.5s steps(50) infinite 2s normal,
    typewriter3 1s steps(30) 2s 1 normal both;
  overflow: hidden;
  white-space: nowrap;
}
    */
@keyframes appear {
  from {
    opacity: 0;
    width: 180px;
  }
  to {
    opacity: 1;
    width: 180px;
  }
}

@keyframes typewriter {
  from {
    width: 0px;
  }
  to {
    width: 6em;
  }
}
@keyframes typewriter2 {
  from {
    width: 0px;
  }
  to {
    width: 15em;
  }
}
@keyframes typewriter3 {
  from {
    width: 0px;
  }
  to {
    width: 12em;
  }
}
@keyframes blinktextcurser {
  from {
    border-right: 0px;
  }
  to {
    border-right: 1px solid white;
  }
}

