.skills-title {
    font-size: $font-size-large;
    font-weight:bolder;
    display:block;
    align-content:center;
    text-align:center;
    width:100%;
    height:auto;
    color:white;
    margin-bottom:35px;

}
.skill{
    color:white;
    width:200px;
    height:auto;
    //text-align:center;
    display:block;
    //overflow:hidden;
    padding-top:10px;

}

.sr-logo {
    height: 56px;
    width: 56px;
    
}
.spin {
    -webkit-transition: -webkit-transform .8s ease-in-out;
    transition: transform .8s ease-in-out;
}
.spin:hover {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
}
.flip {
    -webkit-transition: -webkit-transform .5s ease-in-out;
    transition: transform .4s ease-in-out;
}
.flip:hover {
    -webkit-transform: rotateY(180deg);
    transform: rotateY(-180deg);
}



.service-box h3 {
    margin-bottom: 30px;
    display: block;
    padding-top:10px;
    font-size: $font-size-medium;
    font-weight:bold;
}

.download-section {
    //width:100%;
    overflow: hidden;
    width: 100%;
    height: auto;
    padding-top:40px;
    
}

.skill-background {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    pointer-events: none;
    transform:rotate(180deg);
    
}


#bg{
    z-index:-2;
}




