.skills-title {
    font-size: $font-size-large;
    font-weight:bolder;
    display:block;
    align-content:center;
    text-align:center;
    width:100%;
    height:auto;
    color:white;
    margin-bottom:35px;

}
.skill{
    color:white;
    width:400px;
    height:auto;
    text-align:center;
    display:block;
    overflow:hidden;
    padding-top:10px;

}

.sr-logo{
    height:56px;
    width:56px;
}

.service-box h3 {
    margin-bottom: 30px;
    display: block;
    padding-top:10px;
    font-size: $font-size-medium;
    font-weight:bold;
}

.download-section {
    //width:100%;
    overflow: hidden;
    width: 100%;
    height: 100vh;
    padding-top:40px;
}

.skill-background {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    pointer-events: none;
    transform:rotate(180deg);
    overflow:hidden;
    
}


#bg{
    z-index:-2;
}


.skill-background::before {
    background: linear-gradient(to top,$theme-color-1, transparent);
    z-index: 10;
}

.skill-background::after {
    background: $theme-color-2;
    z-index: 10;
    background: linear-gradient(to top,$theme-color-1, transparent);
    mix-blend-mode: color;
}


