@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300;400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Tourney:wght@500;700;900&display=swap');

//Font-family
$font-text: "Comfortaa", sans-serif;
$font-title: "Tourney", cursive;

$xxs-size: 0.5rem;
$xs-size: 0.9rem;
$s-size: 1.2rem;
$xs-size: 1.4rem;
$m-size: 1.6rem;
$mx-size: 2.0rem;
$mxx-size: 2.5rem;
$l-size: 3.2rem;
$xl-size: 4.6rem;
$xxl-size: 8.5rem;
$desktop-breakpoint-phone: 768px;
$desktop-breakpoint-laptop: 1080px;
$desktop-breakpoint-biglaptop: 1600px;
$desktop-breakpoint-sm-phone:425px;
//font-size
$font-size-xtitle: 5.0rem;
$font-size-title: 4.0rem;
$font-size-xxlarge: 3.0rem;
$font-size-xlarge: 2.4rem;
$font-size-large: 1.8rem;
$font-size-medium: 1.4rem;
$font-size-small: 1.2rem;
$font-size-xsmall: 0.9rem;
$font-size-xxsmall: 0.5rem;

//color
$home-color: #F2CB05;
$home-color-light: rgba(
  $color: $home-color,
  $alpha: 0.6,
);
$back-ground-1: #0D2340;
$back-ground-2: rgb(23, 42, 69);
$text-color-1: rgb(141, 142, 169);
$text-color-2: rgb(211, 211, 223);
$blue: #1c88bf;
$red: rgb(184, 57, 57);